@import "includes/sprite";
@import 'includes/fonts';
@import "mixins/mixin";
@import "includes/colors";
html,
body{
  height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
@import "includes/header";
@import "includes/nav";
.conteiner {
  display: table-row;
  height: 100%;
}
@import "includes/footer";