@import url(https://fonts.googleapis.com/css?family=PT+Sans:700,400);
@import "includes/sprite";
@import 'includes/fonts';
@import "mixins/mixin";
@import "includes/colors";
html,
body{
  height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
@import "includes/header";
@import "includes/nav";
.content {
  display: table-row;
  height: 100%;
  background-color: $color-page-back;
}
.content_container{
    width: 1100px;
    @extend %clearfix;
    @include margin-Auto();
    margin-bottom: 25px;
}
@import "includes/pagetitle";
@import "includes/content-index";
@import "includes/sidebar";
@import "includes/footer";