html,
body {
  height: 100%; }

.wrapper {
  display: table;
  height: 100%;
  width: 100%; }

.header {
  min-height: 173px;
  min-width: 1256px; }

.header_first {
  height: 77px;
  border-bottom: 2px solid #ebedef;
  background-color: #ffffff; }

.header_first_container {
  width: 1100px;
  height: 100%;
  margin: 0 auto; }

.header_second {
  height: 94px;
  background-color: #f4f4f4; }

.header_second_container {
  width: 1100px;
  height: 100%;
  margin: 0 auto; }

.navigation {
  min-height: 52px;
  border-bottom: 2px solid #ebedef; }

.conteiner {
  display: table-row;
  height: 100%; }

.footer {
  height: 80px; }
