.content-index
    .content-index_header
        .select-text Cортировать по
        +select(['по цене', 'по популярности'], 'content-index_header_select', 0)
        .catalogs-buttons
            .catalogs-buttons_text Вид каталога
            .catalogs-buttons-style.catalogs-buttons_first
            .catalogs-buttons-style.catalogs-buttons_second--active
            .catalogs-buttons-style.catalogs-buttons_third
            
    .content-index_content--second
        ul.content-index_content-list.content-index_content-list--second     
            include products.jade
    
    .content-index_content--third          
         +nav-content(['1', '2', '3'], 'content-index_content--third_nav', 0)                  
