.content-index
    .content-index_header
        .select-text Cортировать по
        +select(['по цене', 'по популярности'], 'content-index_header_select', 0)
        .catalogs-buttons
            .catalogs-buttons_text Вид каталога
            .catalogs-buttons-style.catalogs-buttons_first
            .catalogs-buttons-style.catalogs-buttons_second--active
            .catalogs-buttons-style.catalogs-buttons_third
            
    .content-index_content--second
        ul.content-index_content-list.content-index_content-list--second
            +product_item("img/products/samsung1b.png", 
                          "img/products/samsung1l.png", 
                          "img/products/samsung2l.png", 
                          "img/products/samsung3l.png", 
                          "189238",
                          "Samsung GT-I9301I GALAXY S 3", 
                          "Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц",
                          "Micro-SIM",
                          "1",
                          "Белый",
                          "Android",
                          "Есть",
                          "Нет",
                          "Есть",
                          "11 290")
                          
            +product_item("img/products/microsoft1b.png", 
                          "img/products/microsoft1l.png", 
                          "img/products/microsoft2l.png", 
                          "img/products/microsoft3l.png", 
                          "283135",
                          "Microsoft Lumia 640 RM-1077", 
                          "Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы открываете мир ярких цифровых возможностей. Этот многофункциональный смартфон уже содержит набор бесплатных сервисов Microsoft",
                          "Micro-SIM",
                          "2",
                          "Белый",
                          "Windows Phone",
                          "Есть",
                          "Нет",
                          "A-GPS",
                          "10 990")
    
    .content-index_content--third          
         +nav-content(['1', '2', '3'], 'content-index_content--third_nav', 0)                  
           
    
        
        
           