.content-index
    .content-index_header
        .select-text Cортировать по
        +select(['по цене', 'по популярности'], 'content-index_header_select', 0)
        // .catalogs-buttons-text Вид каталога
        // .catalogs-buttons
            // .catalogs-buttons_first
            // .catalogs-buttons_second
            // .catalogs-buttons_third