.footer
    .footer-first
        .footer-first_container
            .footer-first_logo
                a(href="/")
                    img(src="img/logo-foot.png", alt="cooltech")
            +social(['fb', 'vk', 'twitter'], 'social-footer')
            +list([
        'Планшеты', 
        'Мобильные телефоны', 
        'Mp3 плееры',
        'Персональные_компьютеры',
        'Ноутбуки',
        'Аксессуары',
        'Бытовая_техника'
        ], 
        'menu-footer')
            
    .footer-second All rights reserved. 2015. no copy alowed