.footer
    .footer_first
        .footer_first_container
            .footer_first_container_logo
                a(href="/")
                    img(src="img/logo-foot.png", alt="cooltech")
            +social(['fb', 'vk', 'twitter'], 'social-food')
            +list([
        'Планшеты', 
        'Мобильные телефоны', 
        'Mp3 плеер',
        'Персональные_компьютеры',
        'Ноутбуки',
        'Аксессуары',
        'Бытовая_техника'
        ], 
        'menu-footer')
            
    .footer_second All rights reserved. 2015. no copy alowed