include ../mixins/mixins
.header
    .header_first
        .header_first_container
            +social(['fb', 'vk', 'twitter'], 'social-head')
    .header_second
        .header_second_container
            a(href="/").logo
                img(src="img/logo-head.png", alt="cooltech").logo_img
            form.search
                input(type="text" placeholder="Что будем искать").search_field
                input(type="button" value="Найти").search_button
            +list(['Карта проезда', 'История заказов', 'Корзина'], 'header-nav')     
            
            
        