.navigation
    +list([
        'Планшеты', 
        'Мобильные телефоны', 
        'Mp3 плеер',
        'Персональные компьютеры',
        'Ноутбуки',
        'Аксессуары',
        'Бытовая техника'
        ], 
        'menu', 1)