.sidebar
    +list(['Флагманы', 'Бюджетная линейка'], 'sidebar_nav', 1)
    .sidebar_accordion
        .sidebar_accordion_availability
            form.sidebar_accordion_availability_form
              span.sidebar_accordion_availability_title Наличие в магазинах
              input(type="radio" id="first_availability" name="availability" checked="checked").sidebar_accordion_availability_item
              label(for="first_availability").sidebar_accordion_availability_text  Во всех магазинах
              input(type="radio" id="second_availability" name="availability").sidebar_accordion_availability_item
              label(for="second_availability").sidebar_accordion_availability_text  В ближайшем ко мне магазине
        
        .sidebar_accordion_brands
            form.sidebar_accordion_brands_form
              span.sidebar_accordion_brands_title Бренды
              input(type="checkbox" id="first_brands").sidebar_accordion_brands_item
              label(for="first_brands").sidebar_accordion_brands_text  Lenovo
              input(type="checkbox" id="second_brands").sidebar_accordion_brands_item
              label(for="second_brands").sidebar_accordion_brands_text  Apple
              input(type="checkbox" id="third_brands").sidebar_accordion_brands_item
              label(for="third_brands").sidebar_accordion_brands_text  Samsung
              input(type="checkbox" id="fourth_brands").sidebar_accordion_brands_item
              label(for="fourth_brands").sidebar_accordion_brands_text  Asus
              input(type="checkbox" id="fifth_brands").sidebar_accordion_brands_item
              label(for="fifth_brands").sidebar_accordion_brands_text  Motorola
              input(type="reset" id="reset_brands" value="").sidebar_accordion_brands_item-reset
              label(for="reset_brands").sidebar_accordion_brands_text-reset  Сбросить фильтр
              
        .sidebar_accordion_price
            form.sidebar_accordion_price_form
              span.sidebar_accordion_price_title Цена
              .sidebar_accordion_price_slider
                    label(for="amount-first").sidebar_accordion_price_slider_label от
                    input(type="text" id="amount-first")
                    label(for="amount-second").sidebar_accordion_price_slider_label_first до
                    input(type="text" id="amount-second")
              #slider-range
              
        .sidebar_accordion_color
            .sidebar_accordion_color_container
              span.sidebar_accordion_color_title Цвет
              +colors([
                  'white',
                  'gray',
                  'black',
                  'blue1',
                  'red',
                  'yellow',
                  'orange',
                  'green',
                  'blue2',
                  'purple',
                  'pink',
                  'brown',
              ], 'sidebar_accordion_color_colors', 1)
              
        .sidebar_accordion_os
            form.sidebar_accordion_os_form
              span.sidebar_accordion_form_title Операционные системы
              input(type="checkbox" id="first_os").sidebar_accordion_os_item
              label(for="first_os").sidebar_accordion_os_text  Android
              input(type="checkbox" id="second_os").sidebar_accordion_os_item
              label(for="second_os").sidebar_accordion_os_text  iOS
              input(type="checkbox" id="third_os").sidebar_accordion_os_item
              label(for="third_os").sidebar_accordion_os_text  Windows Mobile
              input(type="checkbox" id="fourth_os").sidebar_accordion_os_item
              label(for="fourth_os").sidebar_accordion_os_text  Symbian
              input(type="checkbox" id="fifth_os").sidebar_accordion_os_item
              label(for="fifth_os").sidebar_accordion_os_text  Custom
              input(type="reset" id="reset_os").sidebar_accordion_os_item-reset
              label(for="reset_os").sidebar_accordion_os_text-reset  Сбросить фильтр