$color-header-nav-back: #ffffff;
$color-header-nav-back-hover: #e4e2e2;
$color-page-back: #f4f4f4;
$color-content-back: #fbfbfb;
$color-active-back: #ff6e35;
$color-search-back: #fbfbfb;

$color-border-header:#ebedef;
$color-border-search:#dee1e4;

$color-text-header-aside: #333333;
$color-text-header-aside-active: #ff6600;
$color-text-nav-menu-active: #ffffff;
$color-text-footer:#ffffff;