$color-header-nav-back: #ffffff;
$color-header-nav-back-hover: #e4e2e2;
$color-page-back: #f4f4f4;
$color-content-back: #fbfbfb;
$color-active-back: #ff6e35;
$color-search-back: #fbfbfb;
$color-back-content-index:#e4ebee;
$color-back-nav-side-hover:#d9e5ea;
$color-content-item-hover: #9b9b9b;

$color-border-header:#ebedef;
$color-border-search:#dee1e4;

$color-text-header-aside: #333333;
$color-text-header-aside-active: #ff6600;
$color-text-nav-menu-active: #ffffff;
$color-text-content: #5d656c;
$color-text-side-nav:#7f7f7f;
$color-text-side-nav-hover: #5d656c;
$color-text-footer:#ffffff;