.header {
   min-height: 173px;
   min-width: 1256px;
}
.header_first{
    height: 77px;
    border-bottom: 2px solid $color-border-header;
    background-color: $color-header-nav-back;
}
.header_first_container{
    width: 1100px;
    height: 100%;
    @include margin-Auto();
}
.header_second{
    height: 94px;
    background-color: $color-page-back;
}
.social_list{
    margin: 0;
    list-style: none;
}
.social_link{
    display: block;
    text-decoration: none;
    // @include sprite($facebook);
}
.header_second_container{
    width: 1100px;
    height: 100%;
    @include margin-Auto();
    @include box-sizing-border-box();
    @extend %clearfix;
    
}
.logo{
    padding-top: 28px;
    display: block;
    float: left;
}
.search{
    float: left;
    margin: 30px 99px 30px 55px;
    position: relative;
}
.search_field{
    width: 287px;
    height: 32px;
    background-color: $color-search-back;
    border: 1px solid $color-border-search;
    border-right: none;
    padding: 10px 15px;
    @include box-sizing-border-box();
    @include text-OpenSans(300, normal, 14px);
    @include borderRadius(3px 0 0 3px);
    
    &:focus{
        outline: none;
    }
}
.search_button{
    width: 79px;
    height: 32px;
    margin: -32px 0 0 287px;
    border: none;
    background-color: $color-active-back;
    position: absolute;
    color: $color-text-nav-menu-active;
    @include text-OpenSans(600, normal, 16px);
    @include borderRadius(0 3px 3px 0);
    @include transition(.2s, all);
    
    &:hover{
        opacity: .9;
    }
    &:focus{
        outline: none;
    }
    &:active{
        opacity: .8;
    }
}
.header-nav{
    @extend %clearfix;
}
.header-nav_list{
    @extend %clearfix;
    padding: 0;
    float: right;
    margin-top: 35px;
}
.header-nav_item{
    float: left;
    list-style: none;
    margin: 0 0 0 30px;
    display: block;
}
.header-nav_link{
    @include text-OpenSans(600, normal, 16px);
    color: $color-text-header-aside;
    @include transition(.2s, all);
    
    &:hover{
        color:$color-text-header-aside-active;
    }
}