.sidebar{
    width: 331px;
    float: left;
    margin-top: 25px;
    margin-right: 22px;
}
.sidebar_nav{
    border: 1px solid $color-border-search;
    @include borderRadius(5px);
    overflow: hidden;
    background-color: $color-content-back;
    margin-bottom: 38px;
}
.sidebar_nav_list{
    margin: 0;
    padding: 0;
}
.sidebar_nav_item{
    border-bottom: 1px solid $color-border-search;
    list-style: none;
    &:last-child{
        border-bottom: none;
    }
}
.sidebar_nav_link{
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 12px 27px;
    @include text-OpenSans(normal, normal, 14px);
    color: $color-text-side-nav;
}
.sidebar_nav_link-active{
    background-color: $color-back-nav-side-hover;
    color: $color-text-side-nav-hover;
}
//ACCORDION
.sidebar_accordion{
    background-color: $color-content-back;
    border: 1px solid $color-border-search;
    @include box-sizing-border-box();
    @include borderRadius(5px);
    @extend %clearfix;
}
//AVAILABILITY
.sidebar_accordion_availability{
    border-bottom: 1px solid $color-border-search;
    overflow: hidden;
    @extend %clearfix;
}
.sidebar_accordion_availability_form{
    @extend %clearfix;
}
.sidebar_accordion_availability_title{
    display: block;
    color: $color-text-header-aside;
    cursor: pointer;
    padding: 15px 25px;
    @include borderRadius(5px);
    @include text-OpenSans(600, normal, 16px);
    
    &:hover:after{
        content: "";
        display: block;
        position: absolute;
        margin: -15px 0 0 273px;
        @include sprite($select-side-open);
    }
}
.sidebar_accordion_availability_item{
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 19px;
    height: 19px;
    cursor: pointer;
    
    &:not(checked){
        display: none;
    }
    &:checked{
        display: none;
    }
    &:not(checked) + .sidebar_accordion_availability_text{
        position: relative;
        padding: 0 0 0 28px;
    }
    &:checked + .sidebar_accordion_availability_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        background-color: #ff6600;
        border: 3px solid #ff6600;
        box-shadow: 0 0 0 2px #fbfbfb inset;
        @include borderRadius(50%);
    }
    &:not(checked) + .sidebar_accordion_availability_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        border: 3px solid $color-border-search;
        @include borderRadius(50%);
    }
}
.sidebar_accordion_availability_text{
    margin: 0 0 15px 25px;
    cursor: pointer;
    float: left;
    color: $color-text-header-aside;
    @include text-OpenSans(normal, normal, 14px);   
}

//BRANDS
.sidebar_accordion_brands{
    border-bottom: 1px solid $color-border-search;
    overflow: hidden;
    @extend %clearfix;
}
.sidebar_accordion_form_brands{
    @extend %clearfix;
}
.sidebar_accordion_brands_title{
    display: block;
    color: $color-text-header-aside;
    cursor: pointer;
    padding: 15px 25px;
    @include borderRadius(5px);
    @include text-OpenSans(600, normal, 16px);
    
    &:hover:after{
        content: "";
        display: block;
        position: absolute;
        margin: -15px 0 0 273px;
        @include sprite($select-side-open);
    }
}
.sidebar_accordion_brands_item{
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 19px;
    height: 19px;
    cursor: pointer;
    
    &:not(checked){
        display: none;
    }
    &:checked{
        display: none;
    }
    &:not(checked) + .sidebar_accordion_brands_text{
        position: relative;
        padding: 0 0 0 28px;
    }
    &:checked + .sidebar_accordion_brands_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        background: url(../img/icon/check.png) no-repeat center center, #ff6600;
        border: 3px solid #ff6600;
        @include borderRadius(2px);
    }
    &:not(checked) + .sidebar_accordion_brands_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        background-color: $color-border-search;
        border: 3px solid $color-border-search;
        @include borderRadius(2px);
    }
}
.sidebar_accordion_brands_item-reset{
    display: none;
}
.sidebar_accordion_brands_text-reset{
    cursor: pointer;
    color: #5db2fc;
    margin: 0 0 15px 25px;
    display: block;
    text-decoration: underline;
    @include text-OpenSans(normal, normal, 14px);
}
.sidebar_accordion_brands_text{
    margin: 0 0 15px 25px;
    cursor: pointer;
    display: block;
    color: $color-text-header-aside;
    @include text-OpenSans(normal, normal, 14px);   
}
//==========================================
//SLIDER JQUERY UI STYLE
//==========================================
.ui-slider-horizontal{
    width: 273px;
    height: 3px;
    margin: 0 0 25px 25px;
    background-color: #dee1e4;
}
.ui-slider-range{
    background-color: #ff6600;
}
.ui-slider-horizontal .ui-slider-handle{
    @include sprite($slider-cursor);
    margin: 6px 0 0 -4px;
    outline: none;
    cursor:pointer;
    
    &:focus{
        border: none;
    }
}
#amount-first, #amount-second {
    width: 79px;
    height: 26px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 237, 239);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
    padding: 0 7px;
    color: $color-text-header-aside;
    margin-left: 10px;
    @include text-OpenSans(normal, normal, 14px);
    @include box-sizing-border-box();
}
.sidebar_accordion_price_slider_label{
    margin-left: 25px;
    color: $color-text-header-aside;
    @include text-OpenSans(normal, normal, 14px);
}
.sidebar_accordion_price_slider_label_first{
    margin-left: 50px;
    color: $color-text-header-aside;
    @include text-OpenSans(normal, normal, 14px);
}
#slider-range{
    margin-top: 18px;
}
//==========================================
//END SLIDER JQUERY UI STYLE
//==========================================
.sidebar_accordion_price{
    border-bottom: 1px solid $color-border-search;
    overflow: hidden;
    @extend %clearfix;
}
.sidebar_accordion_price_form{
    @extend %clearfix;
}
.sidebar_accordion_price_title{
    display: block;
    color: $color-text-header-aside;
    cursor: pointer;
    padding: 15px 25px;
    @include borderRadius(5px);
    @include text-OpenSans(600, normal, 16px);
    
    &:hover:after{
        content: "";
        display: block;
        position: absolute;
        margin: -15px 0 0 273px;
        @include sprite($select-side-open);
    }
}

//COLOR
.sidebar_accordion_color{
    border-bottom: 1px solid $color-border-search;
    overflow: hidden;
    @extend %clearfix;
}
.sidebar_accordion_color_container{
    @extend %clearfix;
}
.sidebar_accordion_color_title{
    display: block;
    color: $color-text-header-aside;
    cursor: pointer;
    padding: 15px 25px;
    @include borderRadius(5px);
    @include text-OpenSans(600, normal, 16px);
    
    &:hover:after{
        content: "";
        display: block;
        position: absolute;
        margin: -15px 0 0 273px;
        @include sprite($select-side-open);
    }
}
.sidebar_accordion_color_colors{
    width: 250px;
    padding: 0 0 0 25px;
    list-style: none;
    margin-top: 0;
    @extend %clearfix;
}
.sidebar_accordion_color_colors_label{
    display: block;
        width: 35px;
        height: 35px;
        margin: 0 20px 20px 0;
        float: left;
        border: 1px solid $color-border-search;
        cursor: pointer;
}
.sidebar_accordion_color_colors_item{
    cursor: pointer;
    display: none;
    
    &:checked + .sidebar_accordion_color_colors_label{
        display: block;
        width: 35px;
        height: 35px;
        margin: 0 20px 20px 0;
        float: left;
        box-shadow: 0 0 0 2px #ff6600;
        cursor: pointer;
        @include borderRadius(2px);
    }
}
.sidebar_accordion_color_colors_white{
    background-color: #fff;
}
.sidebar_accordion_color_colors_gray{
    background-color: #cccccc;
}
.sidebar_accordion_color_colors_black{
    background-color: #000;
}
.sidebar_accordion_color_colors_blue1{
    background-color: #0a3153;
}
.sidebar_accordion_color_colors_red{
    background-color: #ff1800;
}
.sidebar_accordion_color_colors_yellow{
    background-color: #fff343;
}
.sidebar_accordion_color_colors_orange{
    background-color: #fb914a;
}
.sidebar_accordion_color_colors_green{
    background-color: #92c37c;
}
.sidebar_accordion_color_colors_blue2{
    background-color: #40a6ff;
}
.sidebar_accordion_color_colors_purple{
    background-color: #9870ad;
}
.sidebar_accordion_color_colors_pink{
    background-color: #dc78ad;
}
.sidebar_accordion_color_colors_brown{
    background-color: #7f401d;
}

//OS
.sidebar_accordion_os{
    overflow: hidden;
    @extend %clearfix;
}
.sidebar_accordion_os_form{
    @extend %clearfix;
}
.sidebar_accordion_form_title{
    display: block;
    color: $color-text-header-aside;
    cursor: pointer;
    padding: 15px 25px;
    @include borderRadius(5px);
    @include text-OpenSans(600, normal, 16px);
    
    &:hover:after{
        content: "";
        display: block;
        position: absolute;
        margin: -15px 0 0 273px;
        @include sprite($select-side-open);
    }
}
.sidebar_accordion_os_item{
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 19px;
    height: 19px;
    cursor: pointer;
    
    &:not(checked){
        display: none;
    }
    &:checked{
        display: none;
    }
    &:not(checked) + .sidebar_accordion_os_text{
        position: relative;
        padding: 0 0 0 28px;
    }
    &:checked + .sidebar_accordion_os_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        background: url(../img/icon/check.png) no-repeat center center, #ff6600;
        border: 3px solid #ff6600;
        @include borderRadius(2px);
    }
    &:not(checked) + .sidebar_accordion_os_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        background-color: $color-border-search;
        border: 3px solid $color-border-search;
        @include borderRadius(2px);
    }
}
.sidebar_accordion_os_item-reset{
    display: none;
}
.sidebar_accordion_os_text-reset{
    cursor: pointer;
    color: #5db2fc;
    margin: 0 0 15px 25px;
    display: block;
    text-decoration: underline;
    @include text-OpenSans(normal, normal, 14px);
}
.sidebar_accordion_os_text{
    margin: 0 0 15px 25px;
    cursor: pointer;
    display: block;
    color: $color-text-header-aside;
    @include text-OpenSans(normal, normal, 14px);   
}
.accordion-height{
    height: 47px;
    &:hover{
        background-color: #d9e5ea;
    }
}
.accordion-cursor{
    &:hover:after{
        content: "";
        display: block;
        position: absolute;
        margin: -15px 0 0 273px;
        @include sprite($select-side-close);
    }
}