.sidebar{
    width: 331px;
    float: left;
    margin-top: 25px;
    margin-right: 22px;
}
.sidebar_nav{
    border: 1px solid $color-border-search;
    @include borderRadius(5px);
    overflow: hidden;
    background-color: $color-content-back;
    margin-bottom: 38px;
}
.sidebar_nav_list{
    margin: 0;
    padding: 0;
}
.sidebar_nav_item{
    border-bottom: 1px solid $color-border-search;
    list-style: none;
    &:last-child{
        border-bottom: none;
    }
}
.sidebar_nav_link{
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 12px 27px;
    @include text-OpenSans(normal, normal, 14px);
    color: $color-text-side-nav;
}
.sidebar_nav_link-active{
    background-color: $color-back-nav-side-hover;
    color: $color-text-side-nav-hover;
}

.sidebar_accordion{
    background-color: $color-content-back;
    border: 1px solid $color-border-search;
    padding: 15px 0;
    @include box-sizing-border-box();
    @include borderRadius(5px);
    @extend %clearfix;
}
.sidebar_accordion_availability{
    border-bottom: 1px solid $color-border-search;
    padding-bottom: 15px;
    @extend %clearfix;
}
.sidebar_accordion_availability_title{
    margin: 0 25px 0 25px;
    display: block;
    color: $color-text-header-aside;
    @include text-OpenSans(600, normal, 16px);
}
.sidebar_accordion_availability_item{
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 19px;
    height: 19px;
    cursor: pointer;
    
    &:not(checked){
        display: none;
    }
    &:checked{
        display: none;
    }
    &:not(checked) + .sidebar_accordion_availability_text{
        position: relative;
        padding: 0 0 0 28px;
    }
    &:checked + .sidebar_accordion_availability_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        background-color: #ff6600;
        border: 3px solid #ff6600;
        box-shadow: 0 0 0 2px #fbfbfb inset;
        @include borderRadius(50%);
    }
    &:not(checked) + .sidebar_accordion_availability_text:before{
        content: '';
        position: absolute;
        left: 0;
        width: 13px;
        height: 13px;
        border: 3px solid $color-border-search;
        @include borderRadius(50%);
    }
}
.sidebar_accordion_availability_text{
    margin: 18px 0 0 25px;
    cursor: pointer;
    float: left;
    color: $color-text-header-aside;
    @include text-OpenSans(normal, normal, 14px);
}