/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$facebook-footer-hover-name: 'facebook-footer-hover';
$facebook-footer-hover-x: 58px;
$facebook-footer-hover-y: 0px;
$facebook-footer-hover-offset-x: -58px;
$facebook-footer-hover-offset-y: 0px;
$facebook-footer-hover-width: 43px;
$facebook-footer-hover-height: 43px;
$facebook-footer-hover-total-width: 200px;
$facebook-footer-hover-total-height: 173px;
$facebook-footer-hover-image: 'sprite.png';
$facebook-footer-hover: (58px, 0px, -58px, 0px, 43px, 43px, 200px, 173px, 'sprite.png', 'facebook-footer-hover', );
$facebook-footer-name: 'facebook-footer';
$facebook-footer-x: 116px;
$facebook-footer-y: 0px;
$facebook-footer-offset-x: -116px;
$facebook-footer-offset-y: 0px;
$facebook-footer-width: 43px;
$facebook-footer-height: 43px;
$facebook-footer-total-width: 200px;
$facebook-footer-total-height: 173px;
$facebook-footer-image: 'sprite.png';
$facebook-footer: (116px, 0px, -116px, 0px, 43px, 43px, 200px, 173px, 'sprite.png', 'facebook-footer', );
$facebook-hover-name: 'facebook-hover';
$facebook-hover-x: 84px;
$facebook-hover-y: 116px;
$facebook-hover-offset-x: -84px;
$facebook-hover-offset-y: -116px;
$facebook-hover-width: 26px;
$facebook-hover-height: 26px;
$facebook-hover-total-width: 200px;
$facebook-hover-total-height: 173px;
$facebook-hover-image: 'sprite.png';
$facebook-hover: (84px, 116px, -84px, -116px, 26px, 26px, 200px, 173px, 'sprite.png', 'facebook-hover', );
$facebook-name: 'facebook';
$facebook-x: 174px;
$facebook-y: 41px;
$facebook-offset-x: -174px;
$facebook-offset-y: -41px;
$facebook-width: 26px;
$facebook-height: 26px;
$facebook-total-width: 200px;
$facebook-total-height: 173px;
$facebook-image: 'sprite.png';
$facebook: (174px, 41px, -174px, -41px, 26px, 26px, 200px, 173px, 'sprite.png', 'facebook', );
$map-pin-name: 'map-pin';
$map-pin-x: 58px;
$map-pin-y: 157px;
$map-pin-offset-x: -58px;
$map-pin-offset-y: -157px;
$map-pin-width: 12px;
$map-pin-height: 16px;
$map-pin-total-width: 200px;
$map-pin-total-height: 173px;
$map-pin-image: 'sprite.png';
$map-pin: (58px, 157px, -58px, -157px, 12px, 16px, 200px, 173px, 'sprite.png', 'map-pin', );
$select-close-name: 'select-close';
$select-close-x: 85px;
$select-close-y: 157px;
$select-close-offset-x: -85px;
$select-close-offset-y: -157px;
$select-close-width: 13px;
$select-close-height: 9px;
$select-close-total-width: 200px;
$select-close-total-height: 173px;
$select-close-image: 'sprite.png';
$select-close: (85px, 157px, -85px, -157px, 13px, 9px, 200px, 173px, 'sprite.png', 'select-close', );
$select-name: 'select';
$select-x: 113px;
$select-y: 157px;
$select-offset-x: -113px;
$select-offset-y: -157px;
$select-width: 13px;
$select-height: 9px;
$select-total-width: 200px;
$select-total-height: 173px;
$select-image: 'sprite.png';
$select: (113px, 157px, -113px, -157px, 13px, 9px, 200px, 173px, 'sprite.png', 'select', );
$tel-name: 'tel';
$tel-x: 31px;
$tel-y: 157px;
$tel-offset-x: -31px;
$tel-offset-y: -157px;
$tel-width: 12px;
$tel-height: 16px;
$tel-total-width: 200px;
$tel-total-height: 173px;
$tel-image: 'sprite.png';
$tel: (31px, 157px, -31px, -157px, 12px, 16px, 200px, 173px, 'sprite.png', 'tel', );
$twitter-footer-hover-name: 'twitter-footer-hover';
$twitter-footer-hover-x: 116px;
$twitter-footer-hover-y: 58px;
$twitter-footer-hover-offset-x: -116px;
$twitter-footer-hover-offset-y: -58px;
$twitter-footer-hover-width: 43px;
$twitter-footer-hover-height: 43px;
$twitter-footer-hover-total-width: 200px;
$twitter-footer-hover-total-height: 173px;
$twitter-footer-hover-image: 'sprite.png';
$twitter-footer-hover: (116px, 58px, -116px, -58px, 43px, 43px, 200px, 173px, 'sprite.png', 'twitter-footer-hover', );
$twitter-footer-name: 'twitter-footer';
$twitter-footer-x: 0px;
$twitter-footer-y: 0px;
$twitter-footer-offset-x: 0px;
$twitter-footer-offset-y: 0px;
$twitter-footer-width: 43px;
$twitter-footer-height: 43px;
$twitter-footer-total-width: 200px;
$twitter-footer-total-height: 173px;
$twitter-footer-image: 'sprite.png';
$twitter-footer: (0px, 0px, 0px, 0px, 43px, 43px, 200px, 173px, 'sprite.png', 'twitter-footer', );
$twitter-hover-name: 'twitter-hover';
$twitter-hover-x: 125px;
$twitter-hover-y: 116px;
$twitter-hover-offset-x: -125px;
$twitter-hover-offset-y: -116px;
$twitter-hover-width: 26px;
$twitter-hover-height: 26px;
$twitter-hover-total-width: 200px;
$twitter-hover-total-height: 173px;
$twitter-hover-image: 'sprite.png';
$twitter-hover: (125px, 116px, -125px, -116px, 26px, 26px, 200px, 173px, 'sprite.png', 'twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 174px;
$twitter-y: 0px;
$twitter-offset-x: -174px;
$twitter-offset-y: 0px;
$twitter-width: 26px;
$twitter-height: 26px;
$twitter-total-width: 200px;
$twitter-total-height: 173px;
$twitter-image: 'sprite.png';
$twitter: (174px, 0px, -174px, 0px, 26px, 26px, 200px, 173px, 'sprite.png', 'twitter', );
$view-first-name: 'viewFirst';
$view-first-x: 174px;
$view-first-y: 82px;
$view-first-offset-x: -174px;
$view-first-offset-y: -82px;
$view-first-width: 16px;
$view-first-height: 16px;
$view-first-total-width: 200px;
$view-first-total-height: 173px;
$view-first-image: 'sprite.png';
$view-first: (174px, 82px, -174px, -82px, 16px, 16px, 200px, 173px, 'sprite.png', 'viewFirst', );
$view-second-name: 'viewSecond';
$view-second-x: 174px;
$view-second-y: 113px;
$view-second-offset-x: -174px;
$view-second-offset-y: -113px;
$view-second-width: 16px;
$view-second-height: 16px;
$view-second-total-width: 200px;
$view-second-total-height: 173px;
$view-second-image: 'sprite.png';
$view-second: (174px, 113px, -174px, -113px, 16px, 16px, 200px, 173px, 'sprite.png', 'viewSecond', );
$view-third-name: 'viewThird';
$view-third-x: 0px;
$view-third-y: 157px;
$view-third-offset-x: 0px;
$view-third-offset-y: -157px;
$view-third-width: 16px;
$view-third-height: 16px;
$view-third-total-width: 200px;
$view-third-total-height: 173px;
$view-third-image: 'sprite.png';
$view-third: (0px, 157px, 0px, -157px, 16px, 16px, 200px, 173px, 'sprite.png', 'viewThird', );
$vk-footer-hover-name: 'vk-footer-hover';
$vk-footer-hover-x: 58px;
$vk-footer-hover-y: 58px;
$vk-footer-hover-offset-x: -58px;
$vk-footer-hover-offset-y: -58px;
$vk-footer-hover-width: 43px;
$vk-footer-hover-height: 43px;
$vk-footer-hover-total-width: 200px;
$vk-footer-hover-total-height: 173px;
$vk-footer-hover-image: 'sprite.png';
$vk-footer-hover: (58px, 58px, -58px, -58px, 43px, 43px, 200px, 173px, 'sprite.png', 'vk-footer-hover', );
$vk-footer-name: 'vk-footer';
$vk-footer-x: 0px;
$vk-footer-y: 58px;
$vk-footer-offset-x: 0px;
$vk-footer-offset-y: -58px;
$vk-footer-width: 43px;
$vk-footer-height: 43px;
$vk-footer-total-width: 200px;
$vk-footer-total-height: 173px;
$vk-footer-image: 'sprite.png';
$vk-footer: (0px, 58px, 0px, -58px, 43px, 43px, 200px, 173px, 'sprite.png', 'vk-footer', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 42px;
$vk-hover-y: 116px;
$vk-hover-offset-x: -42px;
$vk-hover-offset-y: -116px;
$vk-hover-width: 27px;
$vk-hover-height: 26px;
$vk-hover-total-width: 200px;
$vk-hover-total-height: 173px;
$vk-hover-image: 'sprite.png';
$vk-hover: (42px, 116px, -42px, -116px, 27px, 26px, 200px, 173px, 'sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 116px;
$vk-offset-x: 0px;
$vk-offset-y: -116px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 200px;
$vk-total-height: 173px;
$vk-image: 'sprite.png';
$vk: (0px, 116px, 0px, -116px, 27px, 26px, 200px, 173px, 'sprite.png', 'vk', );
$spritesheet-width: 200px;
$spritesheet-height: 173px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($facebook-footer-hover, $facebook-footer, $facebook-hover, $facebook, $map-pin, $select-close, $select, $tel, $twitter-footer-hover, $twitter-footer, $twitter-hover, $twitter, $view-first, $view-second, $view-third, $vk-footer-hover, $vk-footer, $vk-hover, $vk, );
$spritesheet: (200px, 173px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/icon/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
